.loader-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
    .spinner {
        position: relative;
        width: 10rem;
        height: 10rem;
    } 
        .loader-circle-1 {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            width: 9rem;
            height: 9rem;
            border: 0.3rem solid;
            border-radius: 50%;
            border-left: 0.3rem solid;
            animation: 1.5s infinite;
  }
        .loader-circle-2 {

        }
        .loader-circle-3{

      }

    @keyframes spinner {
        0% {transform: rotate(0)}
        100%{transform: rotate(360deg)}
    }

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #008855;
  animation: s5 1s infinite ease-in-out;
}
.custom-loader::before,
.custom-loader::after {
  content:"";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: s5 2s infinite;
}
.custom-loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes s5 {
  100%{transform: rotate(1turn)}
}
