
.container { 
  padding: 60px 15px 0;
}
#ptbody tr {
  cursor: pointer;
}

section {
  height: 100em;
  width: 100vw;
  scroll-snap-align: start;
}



html, body {
  margin: 0; 
  height: 100%; 
}


li a:hover {
  background-color: #acd7f2;
}

.nav-link.active {
  background-color: #acd7f2;
}

#dokumentanlegen .nav-link {
  color: #707071;

}



