
.container {
  padding: 60px 15px 0;
}

#ptbody tr {
  cursor: pointer;
}

section {
  height: 100em;
  width: 100vw;
  scroll-snap-align: start;
}



html, body {
  margin: 0; 
  height: 100%; 
}


li a:hover {
  background-color: #acd7f2;
}

.nav-link.active {
  background-color: #acd7f2;
}

#dokumentanlegen .nav-link {
  color: #707071;

}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #008855;
  animation: s5 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content:"";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: s5 2s infinite;
}
.custom-loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes s5 {
  100%{transform: rotate(1turn)}
}