
.container {
  padding: 60px 15px 0;
}

#ptbody tr {
  cursor: pointer;
}

section {
  height: 100%;
  width: 100%;
}

:root{
  scroll-behavior: auto;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  position: relative;
}

li a:hover {
  background-color: #acd7f2;
}

.nav-link.active {
  background-color: #acd7f2;
}