
.container {
  padding: 60px 15px 0;
}

#ptbody tr {
  cursor: pointer;
}

section {
  height: 100em;
  width: 100vw;
  scroll-snap-align: start;
}



html, body {
  margin: 0; 
  height: 100%; 
}


li a:hover {
  background-color: #acd7f2;
}

.nav-link.active {
  background-color: #acd7f2;
}

#dokumentanlegen .nav-link {
  color: #707071;

}

.loader-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
    .spinner {
        position: relative;
        width: 10rem;
        height: 10rem;
    } 
        .loader-circle-1 {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            width: 9rem;
            height: 9rem;
            border: 0.3rem solid;
            border-radius: 50%;
            border-left: 0.3rem solid;
            animation: 1.5s infinite;
  }
        .loader-circle-2 {

        }
        .loader-circle-3{

      }

    @keyframes spinner {
        0% {transform: rotate(0)}
        100%{transform: rotate(360deg)}
    }